* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Courier Prime', monospace;
}

body.light {
  background-color: rgb(248, 248, 248);
  color: black;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

canvas {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

input,
button {
  border-style: none;
  margin: 5px;
  padding: 9.5px 15px;
  text-align: center;
}

::placeholder {
  color: #00e8d1;
}
input:focus {
  border: transparent !important;
  margin: 1px 0 !important;
  outline: 4px solid #00e8d1;
}

textarea:focus {
  outline: 4px solid #00e8d1;
}

body.light input,
body.light button,
body.light [type="file"]+label {
  background-color: rgb(248, 248, 248);
  border: 1px solid black;
  color: black;
}

body.light [type="file"]:focus+label,
body.light [type="file"]+label:hover,
body.light button:hover {
  background-color: black;
  color: white;
}

input,
button {
  background-color: black;
  border: 1px solid white;
  color: white;
}

[type="file"]:focus+label,
[type="file"]+label:hover,
button:hover {
  background-color: rgb(248, 248, 248);
  color: black;
}

input.number {
  /* text-align: left; */
  width: 70px;
  padding: 9.5px 15px;
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  font-family: 'Courier Prime', monospace;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  padding: 50px 0 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.mini_wrap {
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
}

.mini_wrap.side {
  width: 100%;
  max-width: 700px;
  justify-content: flex-end;
  margin: 20px 0 100px 0;
}

.image_wrapper {
  position: fixed;
  display: none;
  height: 500px;
}

img {
  height: 100%;
  width: 100%;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"]+label {
  margin: 5px;
  padding: 9.5px 15px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
}

button, label {
  font-size: 14px;
}

body.light button.disabled,
button.disabled {
  border: #504f4f 1px solid;
  color: #504f4f;
  pointer-events: none;
}

body.light button.disabled {
  border: #adadad 1px solid;
  color: #adadad;
  pointer-events: none;
}

p.info {
  font-size: 14px;
  transition: 0.3s;
  margin: 10px 0 0 0;
}

a.hidden,
p.hidden {
  opacity: 0;
  pointer-events: none;
}

textarea.text_output {
  font-family: 'Courier Prime', monospace;

  /* font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 8px; */

  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 7px;

  /* font-size: 8px;
  letter-spacing: 1.5px;
  line-height: 6px; */

  width: calc(100% - 40px);
  background-color: black;
  color: white;
  resize: none;
  overflow: hidden;
  text-align: center;
  border: 0px;
}

body.light textarea.text_output {
  background-color: rgb(248, 248, 248);
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  border: white 1px solid;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(248, 248, 248);
  border: black 1px solid;
}

input:checked + .slider:before {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.input_wrap {
  display: flex;
  flex-direction: column;
  margin: -15px 5px 0 5px;
}

.input_wrap label {
  border: 0;
  font-size: 13px;
  height: 15px;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 0px;
}

.input_wrap input {
  margin: 0;
}

.spacer {
  width: 10px;
}

.sign {
  position: relative;
  color: white;
  font-size: 10px;
  padding: 0 10px 10px 0;
  text-align: right;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body.light .sign,
body.light a {
  color: black;
}