* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Courier Prime', monospace;
}

body.light {
  background-color: rgb(248, 248, 248);
  color: black;
}

p, h1, h2, h3, h4 {
  display: inline-block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

canvas {
  margin: 0 auto;
  background-color: #ffffff;
  margin: 40px 0 100px 0;
  display: none;
}

h1 {
  margin: 30px;
}

input,
button {
  border-style: none;
  margin: 5px;
  padding: 9.5px 15px;
  text-align: center;
}

::placeholder {
  color: #00e8d1;
}
input:focus {
  outline: #00e8d1;
}

body.light button,
body.light [type="file"]+label {
  background-color: rgb(248, 248, 248);
  border: 1px solid black;
  color: black;
}

body.light [type="file"]:focus+label,
body.light [type="file"]+label:hover,
body.light button:hover {
  background-color: black;
  color: white;
}


button {
  background-color: black;
  border: 1px solid white;
  color: white;
}

[type="file"]:focus+label,
[type="file"]+label:hover,
button:hover {
  background-color: rgb(248, 248, 248);
  color: black;
}



button {
  font-family: 'Courier Prime', monospace;
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  /* border: red 1px solid; */
  /* background-color: black;
  color: white; */
}

.mini_wrap {
  margin: 30px 0 0 0;
  display: flex;
  align-items: center;
}

.image_wrapper {
  position: fixed;
  display: none;
  height: 500px;
}

img {
  height: 100%;
  width: 100%;
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"]+label {
  margin: 5px;
  padding: 9.5px 15px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
}



button, label {
  font-size: 14px;
}

.text_output {
  width: calc(100% - 60px);
  max-width: 800px;
  background-color: white;
  color: gray;
  margin: 30px 0 0 0;
  overflow-wrap: break-word;
  font-size: 12px;
}


.grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 400px;
  height: 0px;
  margin: 20px 0 100px 0;
  font-size: 6.6px;
  line-height: 4px;
  word-break: break-all;
}

/* .cell {
  position: relative;
  height: 4px;
  width: 4px;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.cell {
  position: relative;
  height: 10px;
  width: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.light button.disabled,
button.disabled {
  border: #504f4f 1px solid;
  color: #504f4f;
  pointer-events: none;
}

body.light button.disabled {
  border: #adadad 1px solid;
  color: #adadad;
  pointer-events: none;
}

p.info {
  font-size: 14px;
  transition: 0.3s;
  margin: 10px 0 0 0;
}

a.hidden,
p.hidden {
  opacity: 0;
  pointer-events: none;
}

/* p.ascii {
  font-size: 5px;
  letter-spacing: 1px;
  line-height: 4px;
  margin: 0;
  white-space: nowrap;
} */

p.ascii {
  font-size: 8px;
  letter-spacing: 1.5px;
  line-height: 5px;
  margin: 0;
  white-space: nowrap;
}

/* p.ascii {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 6px;
  margin: 0;
  white-space: nowrap;
} */


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 36px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  border: white 1px solid;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(248, 248, 248);
  border: black 1px solid;
}

input:checked + .slider:before {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.sq {
  position: relative;
  height: 20px;
  width: 20px;
}

.sq img {
  height: 100%;
  width: 100%;
  mix-blend-mode: lighten;
}